/* Font Reset */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* Styles Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, cite, a, abbr, acronym, address, em, strong, img, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; border: 0; outline: 0; margin: 0; font-size: 1.0em; font-weight: inherit; font-family: inherit; font-style: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

a { text-decoration: none; }
a:link { color: #444444; text-decoration: none; }
a:visited { color:#444444; }
a:hover { text-decoration: underline; }


/* better image resizing in IE */
img{-ms-interpolation-mode:bicubic;}

@font-face { font-family:Courier_New; src:url(/Courier_New.ttf); }

html { height: 100%; background: #89CFF0; }

#dead-center { position:absolute; top:50%; height:426px; margin-top:-213px; left: 50%; width: 585px; margin-left: -292.5px; }
.card { width: 585px; height: 385px; background:#F9F7F5; font-family: 'Courier New',Courier_New,monospace; background-image: url(/card.jpg); color: #222; text-shadow: 0px 0px 1px #666; }
.card .head { line-height: 43px; font-size: 153.9%; border-bottom: 1px #FF6666 solid; padding: 0 1em 0 1em; } 
.card .body { line-height: 23px; width: 100%; font-size: 85%; }
.card .line { border-bottom: 1px #6666FF solid; padding: 0 1em 0 1em; }
.card a:link { color: #0087D2; text-decoration: none; }
.card a:visited { color:#0087D2; }
.card a:hover { text-decoration: underline; }
.card textarea { height: 87mm; margin-top: 2px; margin-left: 2px; width: 300px; }
.card .head input { float: right; }

.footer { text-align: center; margin-top: 26px; width: 585px; }
.footer a { margin-left: 1.5em; margin-right: 1.5em; } 





