<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Submit a Recipe – FlavorPages</title>
        <meta name="title" content="Submit a Recipe – FlavorPages" />
        <meta name="description" content="Don't fret over dinner ideas. Flavorpages finds personalized recipes that are sure to please even the pickiest eaters. Dietary restrictions? No problem. It's easy to create custom menu plans for gluten free, lactose free, vegetarian, vegan, low fat, low carb, or food sensitivities." />    
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="/card.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
    </head>
    <body>
        <div id="dead-center">
            <div class="card">
                <div class="head">Your Recipe<input type="submit" value="Submit" onclick="$.post('/newrecipe',{'text':$('textarea').val()})"/></div>
                <div class="body">
                    <textarea rows="14" cols="80">
                    Provide as much detail as possible. Recipes may be edited before publishing. 
                    Be sure to read the Terms of Use before submitting!
                    </textarea>
                </div>
            </div>
            <div class="footer">
                <a href="/">Home</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/terms">Terms of Use</a>
                <a href="/privacy">Privacy</a>
            </div>
        </div>
    </body>
</html>
