<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Privacy Policy – FlavorPages</title>
        <meta name="title" content="Privacy Policy – FlavorPages" />
        <meta name="description" content="Don't fret over dinner ideas. Flavorpages finds personalized recipes that are sure to please even the pickiest eaters. Dietary restrictions? No problem. It's easy to create custom menu plans for gluten free, lactose free, vegetarian, vegan, low fat, low carb, or food sensitivities." />    
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="/card.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="dead-center">
            <div class="card">
                <div class="head">Can I trust FlavorPages?</div>
                <div class="body">
                    <div class="line"><br/></div>
                    <div class="line"> · We share recipes, not your information<br/></div>
                    <div class="line"><br/></div>
                    <div class="line">We will never release personally identifiable information.<br/></div>
                    <div class="line"><br/></div>

                    <div class="line">We may release some summary statistics, such as, but not limited to, the number of<br/></div>
                    <div class="line">users who visit the site, the number of users who like a recipe, and recipe suggestions<br/></div>
                    <div class="line">derived from user statistics.<br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>

                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                </div>
            </div>
            <div class="footer">
                <a href="/about">About Us</a><!-- brag about recommender system -->
                <a href="/contact">Contact Us</a>
                <a href="/terms">Terms of Use</a>
                <a href="/privacy">Privacy</a>
            </div>
        </div>
    </body>
</html>
