<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Terms of Use – FlavorPages</title>
        <meta name="title" content="Terms of Use – FlavorPages" />
        <meta name="description" content="Don't fret over dinner ideas. Flavorpages finds personalized recipes that are sure to please even the pickiest eaters. Dietary restrictions? No problem. It's easy to create custom menu plans for gluten free, lactose free, vegetarian, vegan, low fat, low carb, or food sensitivities." />
        <link rel="stylesheet" type="text/css" href="/card.css"/>
    </head>
    <body>
        <div id="dead-center">
            <div class="card">
                <div class="head">Important Disclaimer</div>
                <div class="body">
                    <div class="line"><br/></div>
                    <div class="line"> · We share recipes. That's what we do. You can too.<br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/>All of the recipes featured here are available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-ShareAlike 3.0 Unported License">CC-BY-SA 3.0</a> License. You may print, reprint, or publish any recipe provided that you make proper attribution to original author. A hyperlink is sufficient attribution.</div>
                    <div class="line"><br/></div>

                    <div class="line">Likewise, by submitting a recipe to us, you irrevocably agree to release your<br/></div>
                    <div class="line">contributions under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-ShareAlike 3.0 Unported License">CC-BY-SA 3.0</a> License and the <a href="http://www.gnu.org/copyleft/fdl.html" title="GNU Free Documentation License">GFDL</a>. You agree that a<br/></div>

                    <div class="line">hyperlink or URL is sufficient attribution under the Creative Commons license.<br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>

                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                    <div class="line"><br/></div>
                </div>
            </div>
            <div class="footer">
                <a href="/">Home</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/terms" class="active">Terms of Use</a>
                <a href="/privacy">Privacy</a>
            </div>
        </div>
    </body>
</html>
